<!DOCTYPE html>
<html lang="de-DE">
  <head>
    <title><%= current_account.name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "default/shared/meta" %>

    <script async defer data-domain="njonas.de" src="https://nsa.janschill.de/js/plausible.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "default/shared/header" %>

    <%= yield %>
  </body>
</html>
